<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Login</title>
</head>
<body>
<form action="#" th:action="@{/user/login}" th:object="${user}"
            method="post">
	<table>
	<p th:model="${gagal_login}"></p>
		<tr>
			<td>Username</td>
			<td><input th:field=*{username} ></input></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input type="password" th:field=*{password} ></input></td>
		</tr>
		<tr>
			<td><input type="submit" value="Login" ></input></td>
		</tr>
	</table>
</form>
</body>
</html>